

.navbar-brand {
  font-weight: 600;
}


.navbar-light .navbar-nav .nav-link {
  color: #333; 
  font-weight: 400; 
  transition: color 0.3s ease-in-out; 
}


.navbar-light .navbar-nav .nav-link.active {
  color: #0d6efd; 
  font-weight: 500; 
}



.navbar-light .navbar-nav .nav-link:not(.active):hover {
  color: #0d6efd; 
}



.navbar-nav .bi-cart {
  color: #333;
  transition: color 0.3s ease-in-out;
}

.navbar-nav .bi-cart:hover {
  color: #0d6efd;
}